*{   
    margin-top: 0px;
    margin-left: 0;
}
html{
    background-color: aliceblue;
    box-sizing: inherit;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
li{
    list-style: none
}
.header-img{
    width: 100%;
    height: auto;
    position: absolute;
    background-size: cover;
    z-index: -1;
}
header{
    margin-bottom: 250px;
}
.header-in_img_line-1{
    margin-bottom: 100px;
    width: 101%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.header-in_img_line-1>ul>li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color:white;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight:700;
    cursor: pointer;
}
.header-in_img_line-2{
    text-align: center;
    width: 100%;
    margin-bottom: 150px;
}
.header-in_img_line-2>span{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
} 
.header-in_img_line-2>p{
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
}
.header-in_img_line-3{
    width: 100%;
    text-align: center;
    color: #fff;
}
.header-in_img_line-3>button{
    padding:10px 40px 10px 40px;
    border-radius: 50px;
    background-color:aquamarine;
    border: none;
    cursor: pointer;
}
.content{
    max-width: 900px;
    text-align: center;
    margin: auto;
}
.content_line-1{
    margin-bottom: 130px;
}
.content_line-1>span{
    font-size: 32px;
    font-weight:700;
}
.content_line-1>p{
    font-size: 20px;
    margin-top: 24px;
    font-weight: 700;
}
.content_line-1>ul{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.content_line-1>ul>li{
    display: inline-block;
    font-size: 20px;
    color:black;
    margin: 0px 50px 0px 50px;
    
}
.content_line-1>ul>li>span{
    font-size: 16px;
}
.content_line-1>ul>li>i{
    font-weight:700;
    font-size: 32px;
    color: blueviolet;
    
}
.content_line-1_p{
    font-weight:700;
    margin-top: 28px;
}
.content_video{
    margin-top: 100px;
    position: relative;
}

.content_video>img{
    box-shadow: 5px 10px 8px #888888;
    border-radius: 12px;
    box-sizing:border-box;
}
.content_video>button{
    position: absolute;
    left: 415px;
    top: 180px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color:aquamarine;
    border: 0;
}
.content_line-1>ul {
    display: flex;
    justify-content: space-around;
}
.content_line-1_li{
    text-align: start;
}
.content_line-1_button{
    margin-top: 60px;
    padding:10px 40px 10px 40px;
    cursor: pointer;
    background-color:aquamarine;
    border: 0;
    color:black;
    border-radius: 50px;
}
.content_line-2{
    margin-top: 140;
}
.content_line-1_line-2-img {
    margin-bottom: -100px;
    margin-left: -40px;
}

.content_line-1_line-2-img img{
    width: 200px;
    height: auto;
}
.content_info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.content_info_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.box{
    width: 101%; 
    height: auto;
    background: #252B42;
    text-align: center;
    color: #fff;
    padding-bottom: 150px;
}
.box_botom{
    display: flex;
    justify-content: center;
}

.mid{
    width: 335px;
    height: auto;
    background: #2091F9;
    margin: 50px 50px -50px 50px;
    padding-top: 50px;
    border-radius: 10px;
}
.land{
    width: 335px;
    height: auto;
    background-color: #fff;
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    color: black;
    border-radius: 10px;
}
.box_botom_line1{
    font-family: Graphik;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
.box_botom_line2{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    margin: 20px 0px 20px 0px;
}
.mid_ul{
    margin-left: -40px;
    line-height: 40px;
}
.content_line-2{
    width: 101%;
    background-color: #2091F9;
    
}
.content_info_ConUs{
    width: 353px;
    height: auto;
    background-color: white;
    margin-right: 26px;
    padding: 50px 0px 50px 0px;
    border-radius: 10px;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;

}
.content_info_ConUs>p{
    font-family: Graphik;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.content_info_ConUs>form{

}
.content_info_ConUs>form>input{
    position: static;
    border-radius: 50px;
    border: 1px solid #E8E8E8;
    background: #F5F5F5;
    border: 1;
    padding: 10px 0 10px 20px;
    margin-bottom: 28px;
    font-size: 14px;
}
.content_info_ConUs_R2{
    
}
.content_info_ConUs_R2>ul{
    display: flex;
    justify-content: center;
    width: 120%;
    margin-left: -50px;
}
.content_info_ConUs_R2>ul>li{
    font-size: 12px;
    padding: 0 20px 0 20px;
}
.content_info_ConUs_R2>ul>li>i{
    color: #2091F9;
    font-size: 24px;
}
.last{
    padding-top: 160px;
    display: flex;
    justify-content: center;
    margin-left: -100px;
    align-items: flex-start;
}
.last-ul_1{
    display: flex;
    justify-content: center;
}
.last-ul_1>ul>li{
    display: flex;
    margin-left: 50px;
    justify-content: flex-start;
}
