* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}
  
a {
    color: var(--primary-color);
    text-decoration: none;
}
  
ul {
    list-style: none;
}
  
img {
    width: 100%;
}
.navbar{
    color: #fff;
    background-color: #343a40e1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    padding: 0.7rem 2rem;
    border-bottom: 1px solid #17a2b8;
}
.navbar ul {
    display: flex;
}
.navbar li {
    margin-top: 4px;
}
.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.55rem;
}
.navbar a:hover {
    color: #17a2b8;
}
.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.form .form-group {
    margin: 1.2rem 0;
}
.lead{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.large{
    font-size: 48px;
    font-weight: 500;
    color:#17a2b8;
}
.form-group>input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.form-group select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.btn{
    border: 0;  
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
}
.color_blue{
    background-color: #17a2b8;
    color: #fff;
}
.color_more{
    background-color: #f4f4f4;
    color: black;
}
.social-input{
    display: flex;
    justify-content: space-between;
}
.social-input>input{
    width: 95%;
}
.social-input>i{
    margin-top: 5px;
}
.btn-light{
    background-color: #f4f4f4;
}
.dash-buttons{
    margin: 25px 0 50px 0;
}
.dash-buttons i{
    color: #17a2b8;
    margin-right: 4px;
}
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.table th{
    background-color: #f4f4f4;
    padding: 10px;  
}
.table{
    width: 100%;
}
.btn-danger{
    background-color: #dc3545;
    color: white;
}
.landing {
    position: relative;
    background: url('./img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
}
.landing-inner{
    text-align: center;
    color: #fff;
    margin-top: 200px;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-light1{
  color: black;
  background-color: #f4f4f4;
}
.btn-primary{
    background-color: #17a2b8;
    color: #fff;
}
.x-large{
  font-size: 60px;
}
.Just_this{
  color: #17a2b8;
}
.alert-danger{
  background-color: #dc3546d8;
  color: #fff;
}
.btn_post{
  background-color: hsl(0, 0%, 96%);
  color: black;
}
.round-img {
  border-radius: 50%;
}
.post{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  padding: 32px;
}
.post h4{
  color: #17a2b8;
}
.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.post_info{
  text-align: center;
}
.bg-primary{
  background-color: #17a2b8;
  color: #fff;
}
textarea{
  width: 100%;
  height: 140px;
  padding: 10px;
  font-size: 16px;
}
.btn-dark{
  background-color: #343a40;
  color: #fff;
}
.post-date{
  font-weight: 100px;
  color: #ccc;
}
.comment-count{
  background-color: #f4f4f4;
  color: #17a2b8;
  padding: 2px;
  border-radius: 20px;
}
.btn1{
  padding: 10px;
  margin-right: 12px;
  margin-top: 1px;
}
.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.profile-top img {
  width: 250px;
}
.color_white{
  color: #fff;
}
.icons i{
  margin: 0 8px 0 8px;
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.profile-about {
  text-align: center;
}
.bg-light{
  border: #ccc solid 1px;
  background-color:#f4f4f4;
  color: #333;
}
.text-primary {
  color:#17a2b8;
}
.profile-about{
  margin: 16px 0 16px 0 ;
}
.skills{
  margin: 16px 0 16px 0;
}
